accelerate
transformers
sentencepiece
pillow
PyYAML
numpy
torch
torchvision
huggingface_hub
spaces
opencv-python
imageio[ffmpeg]
einops
timm
av
moviepy==1.0.3
git+https://github.com/huggingface/diffusers.git@main
opencv-python
safetensors
